<h1><%= @course.title %></h1>

<p><strong>Description</strong><br>
  <%= @course.description %>
</p>

<br>

<p><strong>Instructor</strong><br>
  <%= @course.user.firstname %> <%= @course.user.lastname %>
</p>

<p><strong>Course Duration</strong><br>
  <%= pluralize(@total_weeks, 'week') %>
</p>



